{%extends "base.html" %}

{%block title %}Search{% endblock %}

{%block body %}
  <div class="row">
    <div class="col-lg-6">
      <form role="form" action="/sender/search">
        <div class="input-group">
            <input type="text" id="keyword" name="keyword" placeholder="Search senders" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
{%endblock %}