{%extends "base.html" %}

{%block title %}Recipient{% endblock %}

{%block body %}
	<h1 class="text-center">Sender Information</h1>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form role="form" action="{{ url_for('.create_sender') }}" method="post">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.name.label }}
                    {% if form.name.errors %}
                        {% for e in form.name.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.name(class_="form-control") }}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{%endblock %}